

<label id="example-radio-group-label">Pick your preference</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="favoritepreference">
  <mat-radio-button color="warn" class="example-radio-button" *ngFor="let preference of preferences" [value]="preference">
    {{preference}}
  </mat-radio-button>
</mat-radio-group>

<div>

  <div *ngIf="favoritepreference == 'Share Via mail'">
    <!-- <span>Share Via mail clicked</span> -->
    <app-mail-preference
    [dataSource]="dataSource"
    >

    </app-mail-preference>
  </div>

  <div *ngIf="favoritepreference == 'Get Link'">
    <span>Get Link clicked</span>
  </div>

</div>

